.ContactForm .form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.ContactForm .element-container {
  display: flex;
}
.ContactForm .element {
  min-width: 230px;
}
.ContactForm .data-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  padding: 0;
}
.ContactForm label {
  font-size: 15px;
  line-height: 22.5px;

}
.ContactForm .button {
  width: 100%;
  height: 50px;
  font-size: 14px;
  background-color: #fff;
  border: none;
}
.ContactForm .button:hover {
  color: rgb(15, 9, 161);
  background-color: #fff;
}
.ContactForm  .form__input {
  width: 100%;
  background-color: #555555;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}
.ContactForm .status-container {
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  .ContactForm .form {
    width: 460px;
  }
  .ContactForm .element-container {
    flex-direction: column;
  }
  .ContactForm .element {
    padding: 0 !important;
  }
  
}
@media only screen and (max-width: 460px) {
  .ContactForm .form {
    width: 300px;
  }
}