.Declaration {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Declaration h3 {
  color: rgb(15, 9, 161);
  font-size: 30px;
  line-height: 39px;
  letter-spacing: 0.3px;
  width:800px;
  text-align: center;
  margin-bottom: 8px;
  
}

.Declaration .group {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}
.Declaration .group-item {
  display: flex;
}
.Declaration .contents {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 8px;
  background: rgb(232, 230, 230);
  width: 317px;
  height: 216px;
  padding: 0;
  text-align: center;
  
}
.Declaration .pdf-link {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  margin-top: 30px;
}
.Declaration .special {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 170px;
  padding: 0 25px;
}

.Declaration .special .pdf-link {
  margin: 0;
  padding-top: 20px;
}
.Declaration .special .download-button button {
  margin: 0 0 12px 0;
}

.Declaration p {
  font-size: 14px;
  margin-top: 30px;
  line-height: normal;
  color: #000;
}
.Declaration .download-button button {
  border: 1px solid #c7c7c7;
  background: rgb(232, 230, 230);
  width: 43px;
  height: 43px;
  margin-top: 26px;
}

.Declaration .download-button .button-correction {
  position: relative;
  bottom: 15px;
}
.Declaration .download-button button .icon {
  width: 31px;
  height: 31px;
  transition: all 250ms ease-in-out;
}

.Declaration .download-button button .icon:hover {
  height: 25px;
}

@media only screen and (max-width: 1000px) {
  .Declaration h3 {
    font-size: 23px;
    max-width: 600px;
  }
  .Declaration .group-item {
    display: block;
  }
  .Declaration .contents {
    width: 350px;
    height: auto;
    padding-bottom: 20px;
  }
  .Declaration .pdf-link {
    margin-top: 15px;
  }
  .Declaration p {
    margin: 15px 0 10px;
  }
  .Declaration .download-button button {
    margin: 0;
    height: 40px;
    width: 150px;
  }
  .Declaration .download-button .button-correction {
    position: static;
  }
  .Declaration .special {
    height: auto;
    padding: 0 20px 10px;
  }
  .Declaration .special .download-button button {
    margin: 10px 0;
  }
}
@media only screen and (max-width: 600px) {
  .Declaration h3 {
    font-size: 23px;
    max-width: 300px;
  }
}