.ForConsumers {
  background: rgb(232, 230, 230);
  margin: 30px 90px 0;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ForConsumers h2 {
  color: rgb(15, 9, 161);
  font-size: 38px;
  font-weight: 700;
  line-height: normal;
  padding-top: 40px;
}
.ForConsumers small {
  color: rgb(15, 9, 161);
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}
.ForConsumers ul {
  padding: 0 0 60px 0;
  margin: 0;
}
.ForConsumers .group {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.ForConsumers li {
  list-style: none;
  padding-top: 50px;
}
.ForConsumers li .name {
  font-size: 20px;
  font-weight: 700;
  line-height: 29px;
  padding: 0;
  width: 226px;

}
.ForConsumers li .disputes {
  font-family: 'Oswald', sans-serif;
  padding-right: 60px;

}
.ForConsumers p {
  font-size: 16px;
  line-height: 29px;
  text-align: start;
  margin: 0;
  padding: 0;
  width: 520px;
}

@media only screen and (max-width: 1000px) {
  .ForConsumers {
    margin: 30px 0 0;
    padding: 0 30px;
    
  } 
  .ForConsumers h2 {
    font-size: 32px;
  }
  .ForConsumers h2, .ForConsumers small {
    max-width: 520px;
  }
  .ForConsumers ul {
    padding-bottom: 30px;
    max-width: 520px;
  }
  .ForConsumers .group {
    flex-direction: column;
  }
  .ForConsumers li {
    padding-top: 30px;
  }
  .ForConsumers li .name {
    width: auto;
    text-align: left;
    margin-bottom: 10px;
  }
  .ForConsumers p {
    width: auto;
  }
}