.Hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-image: url("./hero.webp");
  background-size: 100% 100%;
  height: 687px;
  margin: 0 90px 60px;
  padding: 120px 60px 70px;
}
.Hero h1 {
  color: #2F2E2E;
  text-shadow: #ffffff -1px -1px 0px, #ffffff -1px 1px 0px, #ffffff 1px 1px 0px, #ffffff 1px -1px 0px;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 30px;
}
.Hero p {
  color: #2F2E2E;
  text-shadow: #ffffff -1px -1px 0px, #ffffff -1px 1px 0px, #ffffff 1px 1px 0px, #ffffff 1px -1px 0px;
  font-size: 15px;
}
.Hero button {
  background-color: rgba(117, 117, 117);
  font-size: 14px;
  border: 1px solid #fff;
  padding: 11px 30px;
  color: #000;
  transition: all 200ms ease-in-out;
}
.Hero button:hover {
  background-color: #fff;
  border: 1px solid #000;
  color: rgba(15, 9, 157);
}
