.AboutHero {
  background-image: url("image.webp");
  height: 650px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 40px;
}
@media only screen and (max-width: 1000px) {
  .AboutHero {
    height: 350px;
  }
}