.sideBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: absolute;
  top: 83px;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.sideBar a {
  font-size: 36px;
  height: 100px;
}
.sideBar .main {
  color: #180df1;
  background-color: #fff;
}